.jumbotron {
	margin: 20px auto;
	padding: 0;
	text-align: center;
	background-color: #fff;
}

.jumbotron img {
	border: 10px solid #000;
}

.jumbotron p {
	margin-top: 20px;
}

.punish-bubble {
	background-image: url(http://cliparts.co/cliparts/Lid/ox4/Lidox4AET.png);
	background-size: 100% 100%;
	padding: 30px 30px 150px 30px;
	margin: 20px;
}

#punisher:hover {
	background-color: #fff;
	border: 3px solid red;
	color: red;
}

#punisher {
	background-color: red;
	border: 3px solid red;
}